Source: wmcliphist
Section: x11
Priority: extra
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9), libgtk-3-dev
Standards-Version: 3.9.6
Homepage: http://windowmaker.org/dockapps/?name=wmcliphist
Vcs-Browser: https://github.com/d-torrance/wmcliphist
Vcs-Git: https://github.com/d-torrance/wmcliphist.git

Package: wmcliphist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dockapp which provides a history for X11 selections
 wmcliphist is a dockable application for Window Maker. It keeps a
 history of clipboard operations and allows you to put previously
 copied items back to clipboard for pasting to other applications.
